{% extends 'layout.html' %}

{% block content %}
{% include 'navigation.html' %}
<div id="content">
  <div id="activity">
    {% if Object.keys(daily).length %}
      {% for activities in daily %}
        <br class="clearfix">
        <ul class="tags">
          <li>
            <span class="tag">
              {{ activities[0].timestamp|date('D, d M Y') }}
            </span>
          </li>
        </ul>
        {% for activity in activities %}
          <div class="box">
            <a class="boxInner">
              <img src="/media/{{ activity.hash }}">
              <div class="activity" style="width: 
                {{ activity.minuteScore.toFixed(2) }}%"></div>
              <div class="titleBox">
                <span>{{ activity.user.username }}</span> -
                <span>{{ activity.timestamp|date('H:i:s') }}</span> -
                <span>{{ activity.minutes.toFixed(0) }}mins</span>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endfor %}
  {% else %}
    <h2 class="big">No activity data</h2>
  {% endif %}
  </div>
  <br class="clearfix">
  <div class="center margin20">
    {% include 'checkout.html' %}
  </div>
</div>
{% endblock %}
