<header class="inner">
  <section id="logo">
    <span class="daic">daic <em>{{ prefix }}</em></span>
    <span class="description">daily activity information center</span>
  </section>
  <nav class="clearfix">
    {% if active === 'current' %}
      <span class="active">Current</span>
    {% else %}
       <a href="/current">Current</a>
    {% endif %}
    {% if active === 'archived' %}
      <span class="active">Archived</span>
    {% else %}
       <a href="/archived">Archived</a>
    {% endif %}
    <span class="logout"></span>
    <a href="/logout">Logout</a>
  </nav>
</header>
